.filter-checkbox {
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
}

.filter-checkbox__switch {
    position: relative;
    display: block;
    width: 36px;
    height: 20px;
}

.filter-checkbox__title {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    position: relative;
    top: 2px;
    left: 14px;
    margin: 0;
}

.filter-checkbox__switch .filter-checkbox__input {
    display: none;
}

.filter-checkbox__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    background-color: #f1f1f1;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.filter-checkbox__slider:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 6px;
    bottom: 6px;
    right: 6px;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #fff9f9;
    transition: 0.4s;
}

.filter-checkbox__input:checked + .filter-checkbox__slider:before {
    background-color: #fff;
    transform: translateX(16px);
}

.filter-checkbox__input:checked + .filter-checkbox__slider {
    background-color: #2BE080;
}

@media screen and (max-width: 768px) {
    .filter-checkbox {
        padding: 0px 19px 26px;
    }
}

@media screen and (max-width: 320px) {
    .filter-checkbox {
        justify-content: center;
        padding-top: 0px;
        padding-bottom: 44px;
    }

    .filter-checkbox__title {
        font-size: 11px;
        line-height: 18px;
        margin-left: 29px;
        left: -13px;
    }
}